body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f5f9;
    display: flex;
    justify-content: auto;
    align-items: auto;
    min-height: 100vh;
    margin: 0;
    
}

.logo-imagem{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    margin-top: -12px;
}

header {
    background-color: blue;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: left;
    justify-content: 10px;
    position: absolute;
    top: 0px;
}

.botao1 { /*Esse é o botão de cadastro de tarefas*/
    font-family: 'Poppins', sans-serif; /* Aplicando a fonte Poppins */
    position: absolute;
    top: 25px; /* Distância do topo */
    right: 220px ; /* Distância da direita */
    padding: 12px 10px;
    max-width: 200px;
    background-color: #fffefe; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao2 { /*Esse é o botão de gerenciamento de tarefas*/
    font-family: 'Poppins', sans-serif; /* Aplicando a fonte Poppins */
    position: absolute;
    top: 25px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    padding: 0px 1px;
    max-width: 200px;
    background-color: #ffffff; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {/*Titulo Cadastro de Tarefas*/
            
    color: #050505;
    margin-left: 35px;
    margin-bottom: 30px;
    margin-top: 150px;
    width: 63%;
}

h5{ /*Titulo Descrição*/
    margin-left: -980px;
    margin-bottom: -60px;
    margin-top: 270px;
}

.main-h2{/*Titulo Setor*/
    color: #050505;
    margin-left: -105px;
    margin-bottom: 30px;
    margin-top: 469px;
}
.main-h5 {/*Titulo prioridade*/
            
    color: #050505;
    margin-left: -243px;
    margin-bottom: 30px;
    margin-top: 773px;
}

.main-h3 {/*Titulo Nome do usuario*/
            
    color: #050505;
    margin-left: -55px;
    margin-bottom: 30px;
    margin-top: 620px;
}
/*
label {
    color: #0c0c0a;
    display: block;
    margin-bottom: -80px;
    text-align: left;
    margin-left: -229px;
}
*/

textarea{
    text-align: left;
    width: 20%;
    margin-left: -180px;
    padding: 1px;
    height: 90px;
    border: 2px solid #050504;
    border-radius: 10px;
    background-color: #f2f5f9;
    color: #060404;
    margin-bottom: -229px;
    margin-top: 320px;
}

.input-setor{
    text-align: left;
    width: 20%;
    height: 40px;
    margin-left: -340px;
    padding: 1px;
    border: 2px solid #050504;
    border-radius: 10px;
    background-color: #f2f5f9;
    color: #060404;
    margin-bottom: -300px;
    margin-top: 520px;
}

.input-usuario  {
    text-align: left;
    width: 20%;
    margin-left: -335px;
    height: 40px;
    padding: 1px;
    border: 2px solid #050504;
    border-radius: 10px;
    background-color: #f2f5f9;
    color: #060404;
    margin-bottom: -229px;
    margin-top: 670px;
}
    
input::placeholder {
    color: #106ddf;
    
}

select{
    text-align: left;
    width: 6%;
    padding: 10px;
    margin-left: 30px;
    margin-top: 765px;
    border: 1px solid #050504;
    border-radius: 2px;
    height: 40px;
}

.botao-enviar {
    background-color: #4299e1;
    color: #020202;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    display:block;
    height: 50px;
    margin-left: -255px;
    margin-top: 880px;
}

button:hover {
    background-color: #3ce4ea;
    
}

.container {
    background-color: #106ddf;
    width: 30%;
    height: 250px;
    margin-top: 0px;
}